.position-collaps {
  width: 80vw;
  margin-bottom: 30px;
  max-width: 1022px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15px;
}

.collaps {
  background: rgb(103, 164, 103);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px 5px;
  cursor: pointer;
  list-style-type: none;
  max-width: 1022px;
  font-size: 0.8em;
}

.position-title-collaps {
  list-style-type: none;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 2vw;
  // white-space: normal;
}

.collapsTitle {
  color: white;
}

.test {
  display: flex;
  gap: 3vw;
  color: white;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  transition: transform 0.5s ease;
  padding-left: 5px;
  color: white;
}
.arrow.open {
  transform: rotate(-180deg);
  padding-right: 5px;
}

.collapsContent {
  background: rgb(103, 164, 103);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.collapsContent.open {
  max-height: 500px;
  transition: max-height 0.3s ease;
  padding: 0px;
  max-width: 1022px;
  padding: 10px 2px;
  font-size: 12px;
  display: flex;
  align-items: baseline;
}

.collapsText {
  margin: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.position-all-transaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2em;
  gap: 1vw;
  font-size: 12px;
}

.name-transaction {
  display: flex;
  gap: 3vw;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.name-transaction-one {
  display: flex;
  gap: 5em;
  list-style-type: none;
  padding: 0;
}

input.input-collaps {
  height: 10px;
  width: 60px;
  border: none;
  border-radius: 0px;
}

li.CollapsDescrip {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.editTrans {
  border: 1px solid #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10px;
  justify-content: center;
}

@media (min-width: 1025px) {
  .collaps {
    font-size: 1em;
    padding: 0px 20px;
  }
  .position-all-transaction {
    font-size: 1em;
    padding-right: 4em;
    padding-left: 3em;
  }
  .name-transaction {
    gap: 2.5vw;
  }
  .collapsContent.open {
    padding-left: 15px;
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  .position-title-collaps {
    padding-right: 1.5vw;
  }
}
